<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>PomoFoco</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
<div class="app">

    <h1>Pomodoro</h1>

    <div class="config">
        <div class="campo">
            <label>Foco (min)</label>
            <input type="number" id="foco">
        </div>

        <div class="campo">
            <label>Pausa curta</label>
            <input type="number" id="pausaCurta">
        </div>

        <div class="campo">
            <label>Pausa longa</label>
            <input type="number" id="pausaLonga">
        </div>

        <div class="campo">
            <label>Intervalo</label>
            <input type="number" id="intervalo">
        </div>

        <button class="btn-primary" onclick="implementar()">Salvar</button>
    </div>

    <div class="timer-box">
        <span id="status">PARADO</span>
        <h2 id="timer">00:00</h2>

        <div class="acoes">
            <button class="btn-start" onclick="iniciar()">Iniciar</button>
            <button class="btn-stop" onclick="parar()">Parar</button>
        </div>
    </div>

</div>


<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>